# Logs
Frontend/logs
Frontend/*.log
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*


# Compiled binary addons (http://nodejs.org/api/addons.html)
Frontend/build/Release

# Dependency directories
Frontend/node_modules/
Frontend/jspm_packages/

# Distribution directories
Frontend/dist/

# Typescript v1 declaration files
Frontend/typings/

# Optional npm cache directory
Frontend/.npm

# Optional eslint cache
Frontend/.eslintcache

# Optional REPL history
Frontend/.node_repl_history

# Output of 'npm pack'
Frontend/*.tgz

# Yarn Integrity file
Frontend/.yarn-integrity

#backend modules
backend/node_modules


#config files
backend/config.js