.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 5px 20px;
  height: 50px;
  width: auto;
  background-color: #F0D061;
}

.brand-logo {
    position: relative;
    background: #fff;
    padding: 0px 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-family: 'josefin-sans', sans-serif;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 16px;
}

.active {
    background: #d8bb57;
    border-radius: 5px;
}