.cardcontainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 10px;
}

.item-post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    margin-left: 1.5rem;
}

.input-error {
    color: red;
}

.defaultButton {
    font-weight: bold;
    color: white;
    background-color: rgb(250, 162, 0);
    border-radius: 9999px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 10px;

    display: block;
}
.defaultButton:hover {
    background-color: rgb(255, 198, 41);
    transform: scale(1.05);
    transition: transform 0.3s;
}

.basicBorderDiv {
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 15px;
}

.lessStyledLink {
    text-decoration: none;
    color: #000000;
}
.lessStyledLink:hover {
    color: #222222;
    text-decoration: underline;
}