.custom-itempost-image {
    width: auto;
    height: 350px;
    object-fit: cover;
}

.item-post-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    text-align: justify;
}

.itempost-outer {
    margin: 15px 30px;
}

.item-review {
    max-height: 400px;
}

.user-img {
    border-radius: 50%;
    margin: 0 0.5rem;
    align-self: center;
    justify-self: center;
    border: 2px solid #ffec18;
}

.user {
    max-width: 600px;
    margin: 10px;
    border: 1px solid #777777;
    border-radius: 10px;
    padding: 15px;
}

.user a {
    text-decoration: none;
    color: inherit;
}

.user a:hover {
    text-decoration: underline;
}

.user-name {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.about-user {
    padding-top: 10px;
    align-self: center;
}

.user-desc {
    max-width: 400px;
    text-justify: inter-word;
    font-size: 0.875em;
}

.pendingContainter {
    border: 2.5px solid #ffec18;
    border-radius: 1rem;
    /* padding: 0.5rem 2rem;
    margin: 1rem 2.5rem; */
}

.col-6 {
    margin-top: 1%;
}