.custom-itempost-image {
    width: auto;
    height: 350px;
    object-fit: cover;
}

.item-post-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.itempost-outer {
    margin: 15px 30px;
}

.owner-img {
    grid-area: img;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 0.5rem;
    align-self: center;
    justify-self: center;
    border: 2px solid #ffec18;
}

.owner {
    display: grid;
    grid-template-areas: 
    '. img'
    '. img';
    max-width: 600px;
    margin: 10px;

    border: 1px solid #777777;
    border-radius: 10px;
    padding: 15px;
}

.owner a {
    text-decoration: none;
    color: inherit;
}
.owner a:hover {
    text-decoration: underline;
}

.about-owner {
    padding-top: 10px;
    align-self: center;
}

.owner-desc {
    max-width: 400px;
    text-justify: inter-word;
}

.pendingContainter {
    border: 2.5px solid #ffec18;
    border-radius: 1rem;
    /* padding: 0.5rem 2rem;
    margin: 1rem 2.5rem; */
}

.col-6 {
    margin-top: 1%;
}