.fullscreen {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #ffdd00d2; 
    align-items: center;
    display: flex;
    z-index: 1;
}

#inner-login-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    margin-top: 15%;
    width: 30%;
    height: 350px;
    padding: 20px;
}

#login-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}


#custom-login-form {
    position: relative;
    height: 100%;
}

.custom-btn {
    width: 100%;
    margin-top: 25px;
    background-color: #F0D061;
    font-weight: bold;
    color: #fff;
    border: 0;
    position: relative;
    bottom: 0;
}

.login-success-message {
    font-size: 12px;
    margin-top: 5px;
    color: greenyellow;
}

.custom-btn:hover {
    background-color: #c0a64e;
}
