.customNavBar {
  background-color: #F0D061;
  align-items: flex-end;
}

.brand-logo {
    position: relative;
    background: #fff;
    padding: 0px 10px;
    max-width: 200px;
    max-height: auto;
    object-fit: contain;
}

.custom-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.custom-nav-link {
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    padding: 10px 16px;
}

.active {
    background: #d8bb57;
    border-radius: 5px;
}