.card {
  display: inline-block;
  margin: 0 15px;
  width: 300px;
  height: 350px;
  box-shadow: 0 2px 3px #ccc;
}

.custom-card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 4px solid #ffec18;
}

.custom-card-body-left {
  position: relative;
  margin: 10px 5px 0 30px;
  padding: 0;
  width: 50%;
  height: 174px;
  max-width: 200px;
  white-space: normal;
  
}
.custom-card-body-right {
  text-align: right;
  margin: 10px 30px 0 5px;
  padding: 0;
  width: auto;
  height: fit-content;
  max-width: 200px;
  max-height: fit-content;
  white-space: normal;
}

.fade-container {
  position: absolute;
  top: 5.5rem;
  background-image: linear-gradient(to bottom, transparent, white);
  height: 3.5rem;
  width: 100%;
  z-index: 1;
}

.item-desc {
  line-height: 1.5rem;
  max-height: 4.5rem;
  overflow: hidden;
  position: relative;
}

.item-pr {
  font-size: 25px;
  font-weight: bold;
}

.custom-card-button {
  font-weight: bold;
  color: blue;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.card .unfavorite {
  position: absolute;
  top: 4%;
  left: 88%;
  opacity: 0.75;
  transition: transform 0.3s;
}

.card .favorite {
  position: absolute;
  top: 4%;
  left: 88%;
  opacity: 0.9;
  color: #ff1818;
  transition: transform 0.3s;
}

.unfavorite:hover {
  opacity: 0.9;
  /* color: #ff1818; */
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s;
}

.favorite:hover {
  opacity: 0.9;
  /* color: #ff1818; */
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.3s;
}

.req-img {
  display: block;
  margin: 0 auto;
  padding: 5px 5.4rem;
  border-bottom: 4px solid #ffec18;
}

.card a {
   text-decoration: inherit; 
}
.card a:hover {
    text-decoration: underline;
}