.item-small {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 10px;
    display: flex;
}
.item-small label {
    margin-left: auto;
}
.item-descr {
    display: inline-block;
    margin: 0 15px 0 15px;
    color: #777777;
}

.item-big {
    display: inline-block;
    padding: 10px;
}
.recommend-div {
    box-shadow: 0 2px 3px #ccc;
    margin: 0 15px;
    width: 300px;
    padding: 15px;
}

.inputNoOutline:focus {
    outline: none;
}

.yellowText {
    color: #f49600;
}
