.lender {
    --lender-color: #808CFF;
}

.borrower {
    --borrower-color: #ffe600;
}

.progress-bar-container {
    width: 100%;
    display: block !important;

}

.progress-bar{
    /* needed for float to work */
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-left: 0;
    font-weight: 600;
}

.progress-bar li {
    list-style-type: none;
    float:left;
    width: 33.33%;
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
}

.progress-bar .stat-btn {
    /* box-shadow: 0 2px 10px rgb(0 0 0 / 0.2); */
    border: 1.5px solid #ddd;
    border-radius: 1rem;
    width: 8rem;
    padding: 10px;
    justify-self: center;
    
}

.none .stat-btn:hover {
    border-color: #ffe600;
    background-color: #ffe600;
    transform: scale(1.03);
    transition: transform 0.5s;
}

.progress-bar li::before {
    content: ' ';
    width: 1.5rem;
    height: 1.5rem;;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: white;
}

.progress-bar li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    top: 0.75rem;
    left: -50%;
    z-index: -1;
}

.progress-bar li:first-child::after {
    content: none;
}

.approved {
    color: black;
    font-weight: 700;

}

.progress-bar li.approved::before {
    background-color: var(--borrower-color);
    border-color: var(--borrower-color);
    transition: background-color 2s ease;
}

.progress-bar li.approved + li:after {
    background-color: var(--borrower-color);
    transition: background-color 2s ease;
}

.received {
    color: black;
    font-weight: 700;

}

.borrower .received .stat-btn{
    border-color: var(--borrower-color);
    font-weight: 700;

}

.received .stat-btn::hover{
    cursor: pointer;
}


.progress-bar li.received::before {
    background-color: var(--borrower-color);
    border-color: var(--borrower-color);
    transition: background-color 2s ease;
}

.progress-bar li.received + li:after {
    background-color: var(--borrower-color);
    transition: background-color 2s ease;
}


.returned {
    color: var(--borrower-color);
    font-weight: 700;

}

.progress-bar li.returned::before {
    background-color: var(--borrower-color);
    border-color: var(--borrower-color);
}

.progress-bar li.returned + li:after {
    background-color: var(--borrower-color);

}

.lender .none .stat-btn:hover {
    border-color: var(--lender-color);
    background-color: var(--lender-color);
    transform: scale(1.03);
    transition: transform 0.5s;
}

.lender li.approved::before {
    background-color: var(--lender-color);
    border-color: var(--lender-color);
    transition: background-color 2s ease;
}

.lender li.approved + li:after {
    background-color: var(--lender-color);
    transition: background-color 2s ease;
}

.lender li.received::before {
    background-color: var(--lender-color);
    border-color: var(--lender-color);
    transition: background-color 2s ease;
}

.lender li.received + li:after {
    background-color: var(--lender-color);
    transition: background-color 2s ease;
}

.lender li.returned::before {
    background-color: var(--lender-color);
    border-color: var(--lender-color);
    transition: background-color 1s ease;
}

.lender li.returned + li:after {
    background-color: var(--lender-color);
    transition: background-color 1s ease;
}

.lender .returned .stat-btn{
    border-color: var(--lender-color);
    font-weight: 700;

}


.status-tracker-container {
    width:89%;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border: none;
    box-shadow: none;
    border-radius: 0.8rem;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);;
}